<div class="container">
    <div class="column">
        <h1>Muséer i Stockholm</h1>
        <div class="item">
            <h3>Naturhistoriska</h3>
            <img src="https://resources.mynewsdesk.com/image/upload/c_limit,dpr_auto,f_auto,h_700,q_auto,w_auto/d6yivtuypzburd3lzftb.jpg"/>
        </div>
        <div class="item">
            <h3>Nationalmuseum</h3>
            <img src="~/nationalmuseum.jpg"/>
        </div>
        <div class="item">
            <h3>Moderna muséet</h3>
            <img src="~/moderna.jpg"/>
            <a href="https://www.modernamuseet.se/stockholm/sv/">Länk till moderna muséet</a>
            <p>
                Moderna Museet är ett museum för svensk, nordisk och internationell modern och samtida konst i Stockholm och i Malmö. I samlingarna finns nutida måleri, skulptur, fotografi och konstfilm från 1900 och framåt, och vad gäller fotografier även från omkring 1840.
            </p>
        </div>
    </div>
</div>