<div class="container">
    <div class="column">
        <h1>Muséer i Stockholm</h1>
        <div class="item">
            <h3>Naturhistoriska</h3>
            <img src="https://resources.mynewsdesk.com/image/upload/c_limit,dpr_auto,f_auto,h_700,q_auto,w_auto/d6yivtuypzburd3lzftb.jpg"/>
        </div>
        <div class="item">
            <h3>Nationalmuseum</h3>
            <img src="~/nationalmuseum.jpg"/>
        </div>
        <div class="item">
            <h3>Moderna muséet</h3>
            <img src="~/moderna.jpg"/>
        </div>
    </div>
</div>