body {
    background-color: yellow;
}

.container {
    background-color: aliceblue;
    color: black;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.column {
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item{
    width:100%;
}

img{
    width:100%;

}