@model CreateBookingViewModel


<h1>Create booking</h1>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div class="form-group">
                <label class="control-label">Booker</label>
                <input class="form-control" asp-for="Booking.Booker" />
                <span asp-validation-for="Booking.Booker" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Room</label>
                @*selectlist genererar en dropdown-meny av alla rum så finns att välja på *@
                @*en dropdown-meny har ofta två värden. ett id och ett visningsnamn*@
                <select class="form-control" asp-for="Booking.RoomId"
                        asp-items="@(new SelectList(Model.Rooms, "Id","Name"))">
                    <option>Select room</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">From</label>
                <input class="form-control" asp-for="Booking.From" />
                <span asp-validation-for="Booking.From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input class="form-control" asp-for="Booking.To" />
                <span asp-validation-for="Booking.To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}